*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #595F6C;
}

.img-container{
    width:50rem;
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    text-align: left;
    border: 5px solid #324353;
    box-shadow: 3px 15px 25px 5px #25323d;
}

.slide img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.slide.active{
    display: block;
}

.button-container{
    height: 30rem;
    width: 10.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: #475464;
}

#prev-button,#next-button{
border-radius: 50%;
width: 30px;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
font-size: x-large;
background-color: #cccccca6;
cursor: pointer;
}

/* thumbnails-section */

.thumbnails-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.thumbnails-cards{
    height: calc(100% / 5 - 10px);
    margin: 5px 0;
    background-color: red;
    opacity: 0.5;
    width: 50px;
}



.thumbnails-cards.opacity{
    opacity: 1;
}

.thumbnails-cards img{
    width:9rem;
    height: 100%;
    object-fit: cover;
}